stages:
  - build
  - deploy

variables:
  DIST_DIR: dist
  REMOTE_PATH: public_html/game-dev

build:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - $DIST_DIR
    expire_in: 1 hour

deploy:
  stage: deploy
  image: alpine:latest
  only:
    - main
  script:
  - apk add --no-cache openssh
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
  - chmod 600 ~/.ssh/id_rsa
  - ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts
  - scp -r $DIST_DIR/* $SSH_USER@$SSH_HOST:$REMOTE_PATH/
