stages:
  - build
  - deploy

variables:
  DIST_DIR: dist
  REMOTE_HOST: $SERVER_IP_ADDRESS
  REMOTE_USER: $SERVER_USER
  REMOTE_PATH: public_html/game-dev

before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'

build:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - $DIST_DIR
    expire_in: 1 hour

deploy:
  stage: deploy
  image: alpine:latest
  only:
    - main
  script:
    - apk add --no-cache openssh-client rsync
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan $REMOTE_HOST >> ~/.ssh/known_hosts
    - rsync -avz --delete $DIST_DIR/ $REMOTE_USER@$REMOTE_HOST:$REMOTE_PATH/

