stages:
  - build
  - deploy

variables:
  DIST_DIR: dist
  REMOTE_PATH: public_html/game-dev

build:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - $DIST_DIR
    expire_in: 1 hour

deploy:
  stage: deploy
  image: alpine:latest
  only:
    - main
  script:
    - apk add --no-cache lftp
    - lftp -u $FTP_USER,$FTP_PASSWORD sftp://$FTP_HOST -e "
        mirror --reverse --delete --verbose $DIST_DIR $REMOTE_PATH;
        bye
      "

