name: Build & Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - run: npm ci
      - run: npm run build

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      - name: Deploy via SFTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4 # A popular action that also supports SFTP
        with:
          server: ${{ secrets.HOSTINGER_HOST }}
          username: ${{ secrets.HOSTINGER_USER }}
          password: ${{ secrets.HOSTINGER_SSH_KEY }}
          server-dir: public_html/maplestory-zakem
          # The local directory to upload, usually where your build artifacts are
          local-dir: './dist/' # Replace 'dist' with your actual build output folder
          # Set this to true if your server only accepts SFTP
          sftp: true
