name: Build & Deploy

on:
  push:
    branches: 
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18
      
      - run: npm install

      - run: npm run build

      - uses: Burnett01/rsync-deployments@7.0.0
        with:
          switches: -avz --delete
          path: ./dist/
          remote_path: ${{ secrets.PATH }}
          remote_host: ${{ secrets.HOST }}
          remote_port: ${{ secrets.PORT }}
          remote_user: ${{ secrets.USER }}
          remote_key: ${{ secrets.SSH_KEY }}
          
      #   uses: SamKirkland/FTP-Deploy-Action@v4.3.4 
      #   with:
      #     server: ${{ secrets.HOSTINGER_HOST }}
      #     username: ${{ secrets.HOSTINGER_USER }}
      #     password: ${{ secrets.HOSTINGER_SSH_KEY }}
      #     server-dir: public_html/maplestory-zakem/
      #     local-dir: './dist/' 
      #     sftp: true
